
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.ttf') format('truetype');
}

/* reset  */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  /*line-height: 100%;*/
}


body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

strong {
  font-weight: bold;
}

a {
  color: #6495ed;
  text-decoration: none;
  transition: 200ms;
}

h1 a {
  color: #222;
}

a:hover {
  color: #4682b4;
  text-decoration-line: underline;
}

header {
  height: 50px;
  width: 100%;
  background-color: #4499ee;
  overflow: hidden;
}

.header-box {
  margin: 0px auto;
  height: 50px;
  width: 970px;
}

.container {
  margin: 0 auto;
  width: 970px;
}

.blog-main {
  float: left;
  margin: 5px 10px 5px;
  width: 670px;
}

.blog-sidebar {
  float: right;
  margin: 5px;
  width: 270px;
}

footer {
  clear: both;
  width: 100%;
  background-color: #eee;
}

.footer-box {
  margin: 0 auto;
  height: 50px;
  width: 970px;
}

.blog-main h1 {
  margin: 20px 0px 5px;
  font-size: 220%;
  font-feature-settings : "palt";
}

h2 {
  margin: 30px auto 15px;
  padding-bottom: 15px; 
  line-height: 110%;
  font-size: 190%;
  font-feature-settings : "palt";
  border-bottom: 2px solid #444;
}

h3 {
  margin: 20px auto 5px;
  line-height: 165%;
  font-size: 160%;
}

h4 {
  margin: 10px auto 5px;
  line-height: 135%;
  font-size: 130%;
}

p {
  margin: 15px auto;
  color: #444;
  font-size: 120%;
  line-height: 140%;
}

ul, ol {
  margin-left: 35px;
  color: #444;
  font-size: 120%;
  line-height: 140%;
}

li {
  margin-bottom: 5px;
}

article img {
  width: 92%;
  display: block;
  margin: auto;
  height: auto;
}

article {
  overflow: hidden;
  padding-bottom: 50px;
}

article .article-date {
  font-size: 1.2rem;
  text-align: right;
  margin: 5px;
}

.article-tag-list {
  float: left;
}

.twitter-share-button {
  float: right;
  width: 100px;
}


.category-list {
  list-style: none;
  font-size: 22px;
  margin: 7px 2px;
}

.category-list-child {
  list-style: none;
  font-size: 20px;
  margin: 5px 20px;
}

.category-list .category-list-link:before {
  font-family: FontAwesome;
  margin-right: 5px;
  content: '\f07c';
}

.category-list-child .category-list-link:before {
  content: '\f07b';
}

.category-list-count,.tag-list-count{padding-left: 5px;}
.category-list-count:before,.tag-list-count:before{content:"(";}
.category-list-count:after,.tag-list-count:after{content: ")";}


/* 表のスタイル */

table {
  max-width: 600px;
  min-width: 200px;
  border: none;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  margin: 0px auto;
}

table th, table td {
  border: none;
  padding: 5px;
}

th {
  padding: 7px;
  font-size: 1.1em;
  background: #eee;
}

tr {
  font-size:1.05em ;
}

tr:nth-child(even) {
  background: #eee;
}



/* ウィンドウ幅が0〜969pxの場合に適用するCSS */
@media screen and ( max-width:969px )
{
  .header-box, .container, .footer-box {
    width: 100%;
  }

  .blog-main, .blog-sidebar {
    float: none;
    width: auto;
  }


  article h1 {
    font-size: 200%;
    word-break: break-all;
  }

}